<div class="container mt-3">
  <div class="cards">
    <% @cocktails.each do |cocktail| %>
      <div class="card" style="background-image: url(<%= cocktail.image_url %>)">
        <h3 class="drink-name"><%= link_to cocktail.name, cocktail_path(cocktail) %></h3>
      </div>
    <% end %>
  </div>
</div>
