<div class="container mt-3">
  <div class="cards">
    <% @cocktails.each do |cocktail| %>
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path cocktail.photo.key, crop: :fill %>')">
        <h3 class="drink-name"><%= link_to cocktail.name, cocktail_path(cocktail) %></h3>
      </div>
    <% end %>
  </div>
</div>
