<nav class="navbar navbar-expand-lg d-flex justify-content-between align-items-center pl-5 pr-5">
  <div>
    <a class="navbar-brand text-decoration-none" href="<%= cocktails_path %>">
      <i class="fas fa-cocktail"></i> Cocktails
    </a>
    <%#= link_to 'Restaurants', restaurants_path, class:'navbar-brand text-decoration-none' %>
  </div>
  <div>
    <%= link_to 'Add a cocktail', new_cocktail_path, class:'btn text-decoration-none'%>
  </div>
</nav>
