.btn {
  background-color: #66b7af;
  border-radius: 5px;
  box-shadow: 0 0 7px rgba(102, 183, 175, 1.0);
  border: transparent;
  color:  white;
  &:hover {
    background-color: rgba(102, 183, 175, 0.7);
    color: white;
  }
}
